.headerLogo {
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    margin: 40px auto;
    width: 1130px;
}

.headerLogo:hover {
    cursor: pointer;
}

.headerName {
    position: relative;
    margin-left: 6px;
    top: -2px;
}

.headerBackground {
    background: linear-gradient(95.03deg, #7490FC 5.71%, #601D96 118.39%), #D9D9D9;
    width: 100%;
    height: 126px;
}

.headerPopularCoinsContainer {
    width: 1130px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.headerWallet {
    width: 184px;
    height: 42px;
    margin: 42px 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0.1295) 111.89%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border-width: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    transition: transform .2s
}
.headerWallet:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.headerWalletValue{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
/*-----------------------------------------*/
@media (max-width: 1150px)  {
    .headerLogo {
        max-width: 100%;
    }

    .headerPopularCoinsContainer {
        max-width: 100%;
    }
}

@media (max-width: 920px) {
    .headerLogo {
        max-width: 100%;
    }

    .headerPopularCoinsContainer {
        max-width: 100%;
    }
}

@media (max-width: 820px) {
    .headerLogo {
        max-width: 100%;
    }

    .headerPopularCoinsContainer {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .headerLogo {
        max-width: 100%;
    }

    .headerPopularCoinsContainer {
        max-width: 100%;
    }

    .headerWallet {
        width: 180px;
    }
}

@media (max-width: 480px) {
    .headerLogo {
        max-width: 100%;
        margin: 20px auto;
    }

    .headerBackground {
        height: 80px;
    }

    .headerPopularCoinsContainer {
        max-width: 100%;
        justify-content: center;
    }

    .headerWallet {
        width: 180px;
        margin: 20px auto;
    }
}