.mainTableContainer {
    width: 1130px;
    margin: 50px auto 0 auto;
}

.mainTable {
    filter: drop-shadow(0px 8px 15px rgba(185, 193, 202, 0.53));
    border-collapse: collapse;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.thMain {
    background-color: #E7E6FF;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.trMain {
    border: solid 1px #D9D9D9;
    background: #FFFFFF;
    height: 48px;
}

.tdMain:hover {
    cursor: pointer;
}

.thMain:nth-child(1) {
    width: 100px;
}

.thMain:nth-child(2) {
    width: 340px;
    text-align: left;
}

.thMain:nth-child(3), .tdMain:nth-child(4), .tdMain:nth-child(5),.tdMain:nth-child(6) {
    width: 200px;
    text-align: center;
}

.tdMain:nth-child(1) {
    width: 100px;
    text-align: center;
    font-size: 12px;
}

.tdMain:nth-child(2) {
    width: 340px;
    text-align: left;
}

.tdMain:nth-child(3), .tdMain:nth-child(4), .tdMain:nth-child(5),.tdMain:nth-child(6) {
    width: 200px;
    text-align: center;
}

.tdMain:nth-child(7) {
    width: 50px;
    text-align: center;
    font-size: 20px;
}

.symbol {
    font-size: 12px;
    margin-left: 0;
    color: rgba(0, 0, 0, 0.6);
}

.viewMore {
    padding: 8px 21px 11px 21px;
    width: 138px;
    height: 36px;
    background: linear-gradient(96.66deg, #7490FC -7.42%, #601D96 155.8%);
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.4);
    border-width: 0;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    left: 44%;
    margin: 40px auto;
    transition: transform .2s
}

.viewMore:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

