.MostPopularCoinContainer {
    width: 276px;
    height: 94px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 16px 12px;
}

p {
    margin: 6px;
}